.tabContainer {
  cursor: pointer;
}
.reimg {
  border-bottom: 2px solid grey;
}
.text {
  text-underline-offset: 20px;
  color: black;
}
.line {
  height: 0.5px;
}
.projectCard {
  border-radius: 7px;
  padding: 10px;
  background-color: white;
  width: 380px;
}
.primg {
  border-radius: 8px;
}
.btn {
  padding: 0 13px;
  border-radius: 7px;
}
