.tabContainer {
  cursor: pointer;
}
.reimg {
  border-bottom: 2px solid grey;
}
.text {
  text-underline-offset: 20px;
  color: black;
}
.line {
  height: 0.5px;
}
.projectCard {
  border-radius: 7px;
  padding: 10px;
  background-color: white;
  width: 380px;
}
.primg {
  border-radius: 8px;
}
.btn {
  padding: 0 13px;
  border-radius: 7px;
}
@media (max-width: 992px) {
  .text {
    text-underline-offset: 10px;
    font-size: 15px;
  }
  .projectCard {
    border-radius: 4px;
    padding: 7px;
    background-color: white;
    width: 200px;
  }
}
@media (max-width: 600px) {
  .text {
    text-underline-offset: 10px;
    font-size: 20px;
  }
}
