.react {
  font-size: 125px;
  color: aqua;
}
.nodejs {
  font-size: 125px;
}
.database {
  font-size: 125px;
}
.card {
  width: 480px;
  height: 450px;
  text-overflow: ellipsis;
  overflow-y: scroll;
  cursor: pointer;
}
.card::-webkit-scrollbar {
  width: 0.5em;
}
.service {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
@media (max-width: 600px) {
  .service {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .servicebox {
    flex-wrap: wrap;
  }
  .card {
    width: 90%;
    height: 450px;
    margin-bottom: 35px;
  }
  .react {
    font-size: 100px;
    color: aqua;
  }
  .nodejs {
    font-size: 100px;
  }
  .database {
    font-size: 100px;
  }
  .textsize {
    font-size: 20px;
  }
  .service {
    font-size: 18px;
    width: 100%;
  }
  .servicetext {
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: 35px;
    font-weight: bold;
  }
}
