.dwbtn {
  background-color: #dc2626;
  color: aliceblue;
  font-weight: 700;
  font-style: italic;
}
.progress {
  background-color: #dc2626;
  padding: 3px;
}
.about {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.ksimage {
  border-radius: 50px;
  width: 200px;
  height: 250px;
}
@media (max-width: 600px) {
  .about {
    font-size: 25px;
    margin-left: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .aboutcontainer {
    width: 100%;
  }
  .textandicons {
    flex-wrap: wrap;
    width: 100%;
  }
  .ksimg {
    margin-bottom: 30px;
  }
  .dwbtn {
    width: 120px;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
  }
  .abouttext {
    font-size: 5px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .progressbar {
    width: 80%;
  }
  .bars {
    margin-bottom: 10px;
  }
  .bartext {
    font-size: 18px;

    margin-bottom: 15px;
  }
  .html {
    width: 80%;
  }
  .css {
    width: 70%;
  }
}
