.homecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage {
  margin-top: 150px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hometext {
  width: 48%;
  font-size: larger;
  padding: 30px;
}
.icon {
  padding: 15px;
  width: 100%;
  margin-right: 30px;
  z-index: 3;
}
.icons {
  font-size: 30px;
  padding: 20px;
}
.iconscontainer {
  margin-top: 25px;
}
.icons:hover {
  color: darkblue;
}
h1 {
  margin-bottom: 15px;
}
.dynamtic_text {
  color: slateblue;
  font-weight: 500;
  font-size: 40px;
  width: 80%;
}
/* ul li {
    position: relative;
    list-style: none;
    transition: typing 5s ease-in-out;
  } */

.dyspan {
  z-index: -1;
  position: relative;
  line-height: 30px;
  height: 40px;
  overflow: hidden;

  transition: typing 5s ease-in-out;
}

.dyspan::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-left: 2px solid #343a40;
  left: 0;

  background-color: #ffffff;
  animation: typing 3s steps(25) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -10% 0 10%;
  }
}
.text {
  margin-top: 15px;
}
