.homecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage {
  margin-top: 40px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hometext {
  width: 48%;
  font-size: larger;
  padding: 30px;
}
.iconimg {
  width: 550px;
  height: 450px;
  z-index: 3;
}
.icons {
  font-size: 35px;
}
.iconscontainer {
  margin-top: 25px;
}
.icons:hover {
  color: darkblue;
}
h1 {
  margin-bottom: 15px;
}
.dynamtic_text {
  color: #dc2626;
  font-weight: 500;
  font-size: 40px;
  width: 80%;
}
/* ul li {
    position: relative;
    list-style: none;
    transition: typing 5s ease-in-out;
  } */

.dyspan {
  z-index: -1;
  position: relative;
  height: 40px;
  overflow: hidden;
  transition: typing 5s ease-in-out;
}

.dyspan::after {
  content: "";
  position: absolute;
  height: 120%;
  width: 100%;
  border-left: 1px solid #343a40;
  left: 0;

  background-color: whitesmoke;
  animation: typing 3s steps(25) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -10% 0 10%;
  }
}
.text {
  margin-top: 15px;
}
@media (max-width: 600px) {
  .homepage {
    flex-wrap: wrap-reverse;
    width: 100%;
    margin-top: 3px;
  }

  .hometext {
    width: 100%;
    padding: 15px;
  }

  .welcome {
    font-size: 25px;
  }
  .hi {
    font-size: 25px;
  }
  .dynamtic_text {
    color: #dc2626;
    font-weight: 500;
    font-size: 25px;
    width: 100%;
  }

  .fonttext {
    font-size: 18px;
    margin-top: 14px;
  }

  .icons {
    font-size: 25px;
  }
  .iconscontainer {
    margin-top: 30px;
  }
  .imgbox {
    margin-bottom: 30px;
    margin-top: 2px;
  }
}
