.nav {
  position: fixed;
  right: 0;
  top: 0;
  background: var(--body-color);
  border-left: 3px solid rgba(0, 0, 0, 0.05);
  padding: 2.5rem;
  width: 110px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.ul_list {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav__items {
  font-size: 30px;
}
.nav_link {
  color: var(--title-color);
  font-weight: var(--font-bold);
}
